[build]
command = "npm run build"
publish = "build/client"
functions = "netlify/functions"

[build.environment]
NODE_VERSION = "20"

[[redirects]]
from = "/*"
to = "/.netlify/functions/server"
status = 200
force = true
